<html ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="UI/UX Sign up form in Angular.js, PHP, bootstrap.">
    <title>Subscription</title>
   
   <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <!-- AngularJs ui-select CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.css"/>
    <!-- Highlight CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/color-brewer.min.css"/>
    <link rel="stylesheet" href="./css/main.css" type="text/css"/>
</head>

<body role="document" ng-controller="index">


<form name="Form3" id="form3" >
<fieldset>
<div class="container landing-page ">
<div class="row">


<!-----------------------------------CLUB INFORMATION-------------------------------------------->
<div class="col-xs-12">

<hr />

</div>
<div class="col-xs-12">
<h1 class="text-align-center">Club Information</h1>
</div>


<div class="col-xs-12 text-align-center space-between">
<input class="form-control" type="text" placeholder="Club Name" name="clubName" id="clubName" ng-model="form3.clubName" validator="required"/>
<span id="clubNameSubmit"></span> 
</div>

<div class="col-xs-12 text-align-center space-between">
<select class="form-control" name="category" ng-model="form3.category"  validator="required" message-id="selectCategory">
<option value="">Category</option>
<option value="Local">Local</option>
<option value="State">State</option>
<option value="National">National</option>
</select>
<span id="selectCategory"></span>
</div>

<div class="col-xs-12 text-align-center space-between">
<select class="form-control" name="country" ng-model="form3.country" validator="required"  message-id="selectCountry">
<option value="">Country</option>
<option value="Australia">Australia</option>
</select>
<span id="selectCountry"></span>
</div>

<div class="col-xs-12 text-align-center space-between">
<select class="form-control" name="state" ng-model="form3.state" validator="required" message-id="selectBlur">
<option value="">State</option>
<option value="NSW">NSW</option>
<option value="ACT">ACT</option>
<option value="VIC">VIC</option>
<option value="QLD">QLD</option>
<option value="SA">SA</option>
<option value="WA">WA</option>
<option value="NT">NT</option>
<option value="TAS">TAS</option>
</select>
<span id="selectBlur"></span>
</div>

<div class="col-xs-12 text-align-center space-between">
    Your Logo: 
    <input
    file-model="myLogo"
    required 
    type="file" 
    accept="image/*"
    validFile />

    <!--

    ng-model="form3.logo"

    <input
            ng-file-select="onFileSelect($files)"
            required
            type="file"
            id="file"
            name="file"
            ng-value="fileToUpload"
            value="{{fileToUpload}}"
            file-model="fileToUpload"
            set-file-data="fileToUpload = value;"
            accept="image/*"
            validFile />
            -->
</div>
<p class="col-xs-12 text-align-center space-between errorMessage .validation-invalid" style="color: #FF4136;" name="errorMessage" id="errorMessage"></p>
</div>

<div class="col-xs-12 text-align-center space-between">
    Your Members List:
    <input
            file-model="myMembers"
            required
            type="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            validFile />
</div>





<!-----------------------------------MAIN BOARD MEMBER-------------------------------------------->
<div class="col-xs-12">

<hr />

</div>
<div class="col-xs-12">
<h1 class="text-align-center">Main Executive Member</h1>
</div>

<div class="col-xs-12 text-align-center space-between">
<input class="form-control" type="text" name="firstName" id="firstName" ng-model="form3.firstName" validator="required" min="3" max="10" valid-method="submit" message-id="firstNameSubmit" placeholder="First Name" />
<span id="firstNameSubmit"></span> 
</div>

<div class="col-xs-12 text-align-center space-between">
<input class="form-control" type="text" name="lastName" id="lastName" ng-model="form3.lastName" validator="required" valid-method="submit" message-id="lastNameSubmit" placeholder="Last Name"/>
<span id="lastNameSubmit"></span> 
</div>

<div class="col-xs-12 text-align-center space-between">
<input class="form-control" type="text" name="email" id="email" ng-model="form3.email" validator="email" valid-method="submit" message-id="emailSubmit" placeholder="Email"/>
<span id="emailSubmit"></span> 
</div>

<div class="col-xs-12 text-align-center space-between">
<button class="btn btn-success" ng-click="form3.submit(Form3)">Subscribe</button>
</div>

</div>


</div>
</div>
</fieldset>
</form>



<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js"></script>
<script src="./js/angular-validation.js"></script>
<script src="./js/angular-validation-rule.js"></script>
<script src="./js/signup-validation.js"></script>

</body>
</html>