<!DOCTYPE html>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="Paddling">
    <title>Sign Up Form</title>
    
    <link href="./dk/css" rel="stylesheet" type="text/css">
    <link href="./dk/css/bootstrap.min.css" rel="stylesheet">
    <link href="./dk/css/dk_style.css" rel="stylesheet">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

 <script>
    function LocationController($scope){
      $scope.locations = [
        { name: 'NSW', value: 'NSW' },
        { name: 'VIC', value: 'VIC' },
        { name: 'ACT', value: 'ACT' },
        { name: 'NT',  value: 'NT' },
        { name: 'WA',  value: 'WA' },
        { name: 'SA',  value: 'SA' },
      ]
    }
  </script>


<body ng-controller="LocationController">



 <!-- Landing -->
<div class="container landing-page solid-pld-background">
    
        <div class="row">
            <div class="col-xs-12">
                 <h1 class="text-align-center">Sing Up Form</h1>
                 <h1 class="text-align-center">Hello {{ clubName }}</h1>
            </div>

            <!-----------------------------------CLUB INFORMATION-------------------------------------------->
            <div class="col-xs-12">
                <hr />
            </div>
            <div class="col-xs-12">
                 <h1 class="text-align-center">Club Information</h1>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" style="width: 350px" type="text" placeholder="Club Name" ng-model="clubName"></input>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" style="width: 350px" type="text" placeholder="Club Category" ng-model="clubCategory"></input>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <select style="width: 350px" placeholder="Club Location">
                <option ng-repeat="location in locations" value="location.value"> {{ location.name }} </option>
                </option>
                </select>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" type="file" name="logo" accept="image/*" style="width: 350px; display: -webkit-inline-box!important;" ng-model="clubLogo"></input>
            </div>

            <!-----------------------------------MAIN DIRECTOR-------------------------------------------->
            <div class="col-xs-12">
                <hr />
            </div>
            <div class="col-xs-12">
                 <h1 class="text-align-center">Main Director</h1>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" style="width: 350px" type="text" placeholder="First Name" ng-model="directorFirstName"></input>
            </div>
             <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" style="width: 350px" type="text" placeholder="Last Name" ng-model="directorLastName"></input>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <input class="text-align-center" style="width: 350px" type="email" placeholder="Email" ng-model="directorEmail"></input>
            </div>
            <div class="col-xs-12 text-align-center space-between" >
                <img src="./dk/images/signup-dk-btn.png" class="img-center center-block" style="width: 350px"/>
            </div>

            <!--
            <div class="col-xs-12 text-align-center space-between">
                <img src="./dk/images/signup-google-btn.png" class="img-center center-block" style="width: 350px"/>
            </div>
            <div class="col-xs-12 text-align-center space-between">
                <img src="./dk/images/signup-facebook-btn.png" class="img-center center-block" style="width: 350px"/>
            </div>
           -->
        </div>

       <div class="row">
            <div class="col-xs-12">
            </div>
        </div>
</div>



<script src="./dk/js/jquery-2.2.0.min.js"></script>
<script src="./dk/js/bootstrap.min.js"></script>

</body>
</html>