 /*
 @font-face { font-family: Delicious; src: url('Raleway.otf'); } 
 @font-face { font-family: Delicious; font-weight: bold; src: url('Raleway-Bold.otf');}
*/
 
 @font-face {
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.ttf') format('truetype');
}


html, body { height: 100%; font-family: 'Questrial', sans-serif;}
 
.landing-page h1, .landing-page  h2, .landing-page h3, .landing-page h4, .landing-page h5 { color: #000; margin-top: 0; }
.landing-page img { max-width: 83%; }


/*--Backgrounds--*/
.solid-pld-background { background-color: #ffffff; color: #000; }

/*--Spaces--*/
.spacer-small { margin-top: 20px; }
.spacer-medium { margin-top: 40px; }

/*--Image formating--*/
.img-center {margin:0 auto;}
.img-responsive {margin: 0 auto auto;}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.no-padding { padding: 0 !important; margin: 0 !important; }
.row-text-image{display: -webkit-box;padding-left:-15px;}
.cursor-pointer{cursor: pointer;}


/*--Text color and alignment--*/
.text-align-right {text-align: right;}
.text-align-left {text-align: left;}
.text-align-center {text-align: center;}
.text-align-justify {text-align: justify;}
.text-bold { font-weight: bold; }
.text-italic { font-style:italic; }


.space-between{padding:10px;}



.social-roll {
height: 50px;
width: 50px;
margin: 10px;
border-radius: 50%;
-webkit-transition: all ease 0.3s;
-moz-transition: all ease 0.3s;
-o-transition: all ease 0.3s;
-ms-transition: all ease 0.3s;
transition: all ease 0.3s;
margin:0px;
}
.social-roll img { max-width: 35px; max-height: 35px; }
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media(max-width:767px) {
    .landing-page h1, .landing-page h2, .landing-page h4, .landing-page h5 { margin-top: 0.10em; margin-bottom: 0.33em; font-weight: bold;  font-size: 1.0em;}
    .landing-page h5 { font-size: 16px; font-weight:bold;text-transform: capitalize; }
    .landing-page p.p1, .landing-page p.p2, .landing-page p.p3 { margin-bottom: 0.66em; line-height: 1.3em; }
	.landing-page img { margin-bottom: 0.66em; }
}
    
@media(min-width:768px) {
    .landing-page h1, .landing-page h2,  .landing-page h4, .landing-page h5 { margin-top: 0; margin-bottom: 0.33em; font-weight: bold;  font-size: 1.0em;}
    .landing-page h5 { font-size: 16px; font-weight:bold;text-transform: capitalize; }
    .landing-page p.p1, .landing-page p.p2, .landing-page p.p3 { margin-bottom: 0.66em; line-height: 1.3em; }
}
    
@media(min-width:992px) {
    .landing-page h1, .landing-page h2,  .landing-page h4, .landing-page h5 { margin-top: 0; margin-bottom: 0.33em; font-weight: bold;  font-size: 1.0em;}
    .landing-page h5 { text-transform: capitalize; }
    .landing-page p.p1, .landing-page p.p2, .landing-page p.p3 { margin-bottom: 0.66em; line-height: 1.3em; }
}
  
@media(min-width:1200px) {
    .landing-page h1, .landing-page h2,  .landing-page h4, .landing-page h5 { margin-top: 0; margin-bottom: 0.33em; font-weight: bold; font-size: 1.5em;}
    .landing-page h5 { text-transform: capitalize; }
    .landing-page p.p1, .landing-page p.p2, .landing-page p.p3 { margin-bottom: 0.66em; line-height: 1.3em; }
}
